<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639337527410-99moajpn52ao2qajbvt46l5hkkmq8k7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639337527410-99moajpn52ao2qajbvt46l5hkkmq8k7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAcVx3veadF26sBzJej5CsV6dXTFe_-_EY</string>
	<key>GCM_SENDER_ID</key>
	<string>639337527410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bh.polytechnic.MobileProg</string>
	<key>PROJECT_ID</key>
	<string>mobileprogramming-g2</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileprogramming-g2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639337527410:ios:7a9ff1cc243f4e62</string>
	<key>DATABASE_URL</key>
	<string>https://mobileprogramming-g2.firebaseio.com</string>
</dict>
</plist>